.main-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:110%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.intro-container {
  text-align: center;
  background-color: rgb(50, 95, 61);
  color: antiquewhite;
  padding: 20px;
  
}

.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}

.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid antiquewhite;

}
.Menu-bar{
  background-color: rgb(212, 194, 168);
  color: rgb(50, 95, 61);
  padding: 30px;

}

.Content {
  padding: 15px;

}

.list-menu-item{
  color: rgb(50, 95, 61);
  text-decoration: none;
}

.footer {
  background-color: rgb(50, 95, 61);
  text-align: center;
  padding: 30px;
  color: antiquewhite;
}

.footer-link{
  color: antiquewhite;
}

.link{
  color: black;
  text-decoration: none;
}


