/* Import fonts from google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto+Condensed:ital@1&family=Roboto:wght@400;500&display=swap');

.main-container {
  font-family: 'roboto';
  margin: 0px;
}

/* HTML tags styling*/
a{
  text-decoration: none;
  color: antiquewhite;
}
h3{
  font-family: 'Amatic SC';
}

h2{
  font-family: 'Roboto Condensed';
}
/* Container styling and container details included*/
.about-me-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 30px;

}
.experience-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 30px;
}

.experience-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.education-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px -20px 15px;
  padding: 30px;
  background-image: url(/Images/education.jpg);
  background-repeat: no-repeat;
  color: antiquewhite;
}

.education-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.skill-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 30px;
}

#skills{
  margin: 10px;
  padding: 25px;
}

.intro-container {
  text-align: center;
  background-color: #2C3333;
  color: antiquewhite;
  padding: 20px;
}

.intro-container p{
  padding: 0px;
}

.intro-container h1{
  margin: 0px;
}

.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid antiquewhite;
  padding: 15px;
}

.Content {
  padding: 15px;
}

.nav{
  background-color: #395B64;
  color: antiquewhite;
}
.nav-link{
  padding: 15px;
  color: antiquewhite;
}

.footer {
  background-color: #2C3333;
  text-align: center;
  padding: 30px;
  color: antiquewhite;
}

.footer-link{
  color: antiquewhite;
  text-decoration: none;
  padding: 15px;
}

.d-block{
  border-radius: 5px;
  width: 400px;
  height: 400px;
  
}
.carousel-item{
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: #2C3333;
  color: antiquewhite;
  border-radius: 5px;
  font-size: 25px;
}

.carousel-item p{
  align-content: center;
  text-align: center;
  margin-top: 30px;
  font-family: 'Amatic SC';
}

/* Responsive design according to screen size*/
@media (max-width: 768px) {
  .d-block{
    width: 250px;
    height: 250px;
  }

  .carousel-item{
    width: 350px;
    height: 350px;
  }

  .skill-content{
    padding: 20px;
  }

}

.carousel-item p:hover{
  color: #395B64;
}